*,
*::after,
*::before{
padding:0;
margin:0;
box-sizing:border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    @media only screen and (max-width:800px){
        font-size:50%;
    }
}
body{
    background-color: #fbf8f8;
}
.budget__header{
    background-image:linear-gradient(to bottom right, rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url("./img/budget.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:45vh;
    background-position: center center;

    @media only screen and (max-height:550px){
        height:70vh;
    }

    .container{
        max-width:40vw;
        margin:0 auto;
        text-align: center;
    }
    &-paragraph{
        color:#fff;
        padding-top:3rem ;
        font-size: 1.5rem;
        font-weight: 400;
    }
    &-heading{
       color:#fff;
       text-align: center;
       font-size:2rem;
       font-weight: 100;
       padding: 2rem 0;
        
    }
    &-sign{
        margin-right:.7rem;
    }

    &__income{
        background-color:rgb(3, 227, 227);
        margin-bottom:1rem;

        &-number{
            color:#fff;
            font-size: 1.4rem;
        }
    }
    &__expense{
        background-color: rgb(255, 102, 102);

        &-number{
            color:#fff;
            font-size: 1.4rem;
        }
        &-percentage{
            font-size: 1rem;
            margin-left:1rem;
            padding:.3rem .5rem;
            border:none;
            border-radius: 2px;
            background-color: rgba(253, 194, 194, 0.597);
        }
        &-flex{
            display:flex;
            flex-direction: row;
        }
    }

    .big-btn{
        width:60%;
        margin: 0 auto;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding:1.5rem 2.2rem;
        font-size: 1.2rem;
        margin-bottom: 1.8rem;
        border-radius: 3px;

        @media only screen and (max-width:800px){
            width:70%;
        }
    }
    
}
.input__section{
    // height:5rem;
    background-color: #ddd;
    &-description{
       width:25%; 
    }
    &-value{
        width:10%;
    }
   
    &-form{
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        padding:1.7rem 0;

        input{
            padding:.8rem 1.5rem;
            margin:0 1rem;
            border:none;
            border-radius: .5rem;
            outline: none;

            &:focus{
                border:1px solid rgb(3, 227, 227);
            }

            &.input__section-error{
                outline:1px solid orangered;
            }
           
            &::-webkit-input-placeholder{
                color:#ccc;
            }
        }
       .button{
        color:#333;
        border:1px solid rgb(3, 227, 227);
        text-shadow: 0 3px 4px rgb(3, 227, 227);
       } 
    }
    &-selector{
        padding:.8rem 1.5rem;
        border:none;
        border-radius: .5rem;
        outline:none;

        &:focus{
            border:1px solid rgb(3, 227, 227);
        }
    }
}
.expenditure__details{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-width:90rem;
    grid-column-gap: 2rem;
    font-size: 1.4rem;
    margin:0 auto;
    margin-top:4rem;
    padding:0 5rem 10rem;

    &-income{
        color:rgb(3, 227, 227);
        font-weight: 200;

        &-heading{
            padding-bottom: 2rem;
        }
    }
    &-expense{
        color:rgb(255, 102, 102);
        font-weight: 200;

        &-heading{
            padding-bottom: 2rem;
        }
    }
}
.expenditure__card__income{
    display:flex;
    justify-content: space-between;
    width:85%;
    border-top:.2px solid #ccc;
    border-bottom:.2px solid #ccc;
    margin-left: 2rem;
    padding:1rem .3rem;

    &-description{
        color:#999;
        font-weight: 600;
    }
    &-flex{
        display:flex;
    }
    &-price-delete{
        display:none;
        font-size: 1rem;
        color:currentColor;
        height:1.7rem;
        width:1.7rem;
        border-radius: 50%;
        border:1px solid currentColor;
        text-align: center;
        padding:.2rem;
        margin-left: .4rem;

    }
    &:hover &-price-delete{
        display:block;
        cursor: pointer;
    }

}
.expenditure__card__expense{
    display:flex;
    justify-content: space-between;
    width:85%;
    border-top:.2px solid #ccc;
    border-bottom:.2px solid #ccc;
    margin-left: 2rem;
    padding:1rem .3rem;

    &:hover &-price-delete{
        display:block;
        cursor: pointer;
    }
    &-description{
        color:#999;
        font-weight: 600;
    }
    &-flex{
        display:flex;
    }
    &-price-percentage{
        font-size: 1rem;
        margin-left:1rem;
        padding:.3rem .5rem;
        border:none;
        border-radius: 2px;
        background-color: rgba(255, 102, 102, 0.212);
    }
    &-price-delete{
        display:none;
        font-size: 1rem;
        color:currentColor;
        height:1.7rem;
        width:1.7rem;
        border-radius: 50%;
        border:1px solid currentColor;
        text-align: center;
        padding:.2rem;
        margin-left: .4rem;

    }
}
.red{
    color:red !important;
    text-shadow: none !important;
}
.red-focus:focus{
    border:1px solid #ff5049 !important;
}




// display: grid;
    // grid-template-columns: max-content;
    // // grid-template-rows: ;
    // // grid-row-gap: -12rem;
    // justify-content: center;
    // align-items: stretch;
    // justify-items: stretch;

    // &-paragraph{
    //     font-size: 1.5rem;
    //     // background-color: orangered;
    //     color: #fff;
    // }
    // &-heading{
    //     color:#fff;
    //     justify-self: center;
    // }

    // &__income{
    //     background-color: rgb(3, 227, 227);
    //     display: grid;
    //     grid-template-columns: max-content max-content;
    //     align-content: center;

        
    // }
    // &__expense{
    //     background-color: rgb(255, 102, 102);
    // }